/*------------------------------------------(Cabin and cost block )--------------------------------------------*/
.main__cabin {
  margin-top: 150px;
}

.Cabin__header {
  opacity: 0;
  transition: all 1s ease 0s;
  -webkit-transition: all 1s ease 0s;
  -moz-transition: all 1s ease 0s;
  -ms-transition: all 1s ease 0s;
  -o-transition: all 1s ease 0s;
  transform: translateX(300px) rotate3d(1, 1, 1, 45deg);
  -webkit-transform: translateX(300px) rotate3d(1, 1, 1, 45deg);
  -moz-transform: translateX(300px) rotate3d(1, 1, 1, 45deg);
  -ms-transform: translateX(300px) rotate3d(1, 1, 1, 45deg);
  -o-transform: translateX(300px) rotate3d(1, 1, 1, 45deg);
}

.Cabin__header.activated {
  opacity: 1;
  transform: translateX(0px) rotate3d(1, 1, 1, 0deg);
  -webkit-transform: translateX(0px) rotate3d(1, 1, 1, 0deg);
  -moz-transform: translateX(0px) rotate3d(1, 1, 1, 0deg);
  -ms-transform: translateX(0px) rotate3d(1, 1, 1, 0deg);
  -o-transform: translateX(0px) rotate3d(1, 1, 1, 0deg);
}

.Cabin__header-body {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: 600px;
}

.Cabin__cirleStructure {
  margin-right: 10px;
}

.Cabin__caption {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 900;
  font-size: calc(20px + 1.1111111111vw);
  line-height: 133.3333333333%;
  color: #0061BF;
}

.Cabin__subCaption {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: calc(13px + 0.625vw);
  line-height: 127.2727272727%;
  color: #353535;
  flex: 1 1 100%;
  margin-left: 50px;
}

.Cabin__cirleStructure {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background-color: #0061BF;
  position: relative;
  z-index: 2;
}
.Cabin__cirleStructure .Cabin__cirleStructure-firstChild {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background-color: #F4F4F4;
  position: relative;
  z-index: 3;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
.Cabin__cirleStructure .Cabin__cirleStructure-firstChild .Cabin__cirleStructure-secondChild {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background-color: #0061BF;
  position: relative;
  z-index: 4;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

/*------------------------------------------(Cabin dificult item)--------------------------------------------*/
.Cabin__main {
  margin-top: 50px;
}

.Cabin__main-body {
  display: flex;
  flex-wrap: wrap;
}

.Cabin__item {
  flex: 1 1 33.3333%;
  position: relative;
  z-index: 3;
  opacity: 0;
  transform: translateX(300px) rotate3d(1, 1, 1, 45deg);
  -webkit-transform: translateX(300px) rotate3d(1, 1, 1, 45deg);
  -moz-transform: translateX(300px) rotate3d(1, 1, 1, 45deg);
  -ms-transform: translateX(300px) rotate3d(1, 1, 1, 45deg);
  -o-transform: translateX(300px) rotate3d(1, 1, 1, 45deg);
}

.Cabin__item.activated:nth-child(1) {
  opacity: 1;
  transform: translateX(0px) rotate3d(1, 1, 1, 0deg);
  -webkit-transform: translateX(0px) rotate3d(1, 1, 1, 0deg);
  -moz-transform: translateX(0px) rotate3d(1, 1, 1, 0deg);
  -ms-transform: translateX(0px) rotate3d(1, 1, 1, 0deg);
  -o-transform: translateX(0px) rotate3d(1, 1, 1, 0deg);
  transition: all 1s ease 0s;
  -webkit-transition: all 1s ease 0s;
  -moz-transition: all 1s ease 0s;
  -ms-transition: all 1s ease 0s;
  -o-transition: all 1s ease 0s;
}

.Cabin__item.activated:nth-child(2) {
  opacity: 1;
  transform: translateX(0px) rotate3d(1, 1, 1, 0deg);
  -webkit-transform: translateX(0px) rotate3d(1, 1, 1, 0deg);
  -moz-transform: translateX(0px) rotate3d(1, 1, 1, 0deg);
  -ms-transform: translateX(0px) rotate3d(1, 1, 1, 0deg);
  -o-transform: translateX(0px) rotate3d(1, 1, 1, 0deg);
  transition: all 1s ease 0.2s;
  -webkit-transition: all 1s ease 0.2s;
  -moz-transition: all 1s ease 0.2s;
  -ms-transition: all 1s ease 0.2s;
  -o-transition: all 1s ease 0.2s;
}

.Cabin__item.activated:nth-child(3) {
  opacity: 1;
  transform: translateX(0px) rotate3d(1, 1, 1, 0deg);
  -webkit-transform: translateX(0px) rotate3d(1, 1, 1, 0deg);
  -moz-transform: translateX(0px) rotate3d(1, 1, 1, 0deg);
  -ms-transform: translateX(0px) rotate3d(1, 1, 1, 0deg);
  -o-transform: translateX(0px) rotate3d(1, 1, 1, 0deg);
  transition: all 1s ease 0.4s;
  -webkit-transition: all 1s ease 0.4s;
  -moz-transition: all 1s ease 0.4s;
  -ms-transition: all 1s ease 0.4s;
  -o-transition: all 1s ease 0.4s;
}

.Cabin__item-body {
  border: 1px solid #FFC614;
  max-width: 361px;
}

.Cabin__item-header {
  position: absolute;
  z-index: 8;
  display: flex;
  align-items: center;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-90%, -341px);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.Cabin__item-header-left {
  flex: 1 0 10%;
  border-left: 1px solid #FFC614;
  background-color: #F4F4F4;
  height: 10px;
}

.Cabin__item-header-caption {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  color: #000000;
  background-color: #FFF;
  white-space: nowrap;
}

.Cabin__item-header-right {
  flex: 1 0 10%;
  border-right: 1px solid #FFC614;
  background-color: #F4F4F4;
  height: 10px;
}

.CabContnt__Structure-body {
  width: 30px;
  height: 84px;
  background-color: #FFF;
  transform: translate(30px, 30px);
  -webkit-transform: translate(344px, 319px);
  -moz-transform: translate(30px, 30px);
  -ms-transform: translate(30px, 30px);
  -o-transform: translate(30px, 30px);
}

.CabContnt__cirleStructure {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background-color: #0061BF;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.CabContnt__cirleStructure-firstChild {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background-color: #FFF;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.CabContnt__cirleStructure-secondChild {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background-color: #0061BF;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.CabContnt__body {
  margin-top: -84px;
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.CabContnt__body img {
  max-width: 300px;
}

.CabContnt__characteristic {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #353535;
  max-width: 200px;
  margin-top: 30px;
  margin-bottom: 35px;
}

.CabContnt__image {
  margin-bottom: 20px;
}

.underImage__header {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #353535;
  margin-bottom: 10px;
}

.underImage__body {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #353535;
  display: flex;
}

.underImage__firstColumn {
  display: flex;
  justify-content: flex-start;
  flex: 1 1 20%;
}

.underImage__text {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.underImage__text::before {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border: 1px solid #353535;
  box-sizing: border-box;
  margin-right: 10px;
}

.underImage__secondColumn {
  display: flex;
  flex: 1 1 50%;
}

.CabContnt__footer {
  margin-top: 34px;
  margin-bottom: 20px;
  margin-left: -70px;
  display: flex;
  justify-content: space-between;
}

.centerCabinSt {
  display: none;
}

.centerCabinStBody {
  margin-top: 0px;
}

.leftCabinSt {
  transform: translate(0px, 0px);
  -webkit-transform: translate(-15px, 319px);
  -moz-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  -o-transform: translate(0px, 0px);
}

.CabContnt__compicatedStructure {
  width: 40px;
  height: 40px;
  background-color: #fff;
  position: absolute;
  transform: translate(-20px, -20px);
  -webkit-transform: translate(38.5px, 17px);
  -moz-transform: translate(-20px, -20px);
  -ms-transform: translate(-20px, -20px);
  -o-transform: translate(-20px, -20px);
}

.CabContnt__rightPattern2 {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: rgba(0, 97, 191, 0.3);
  backdrop-filter: blur(12px);
}

.CabContnt__firstChild2 {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: #0061BF;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.CabContnt__SecondChild2 {
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(12px);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.CabContnt__thirdChild2 {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #0061BF;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.CabContnt__fourth2 {
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(12px);
  width: 6px;
  height: 6px;
  border-radius: 50%;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.CabContnt__cost-per-person {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 128.5714285714%;
  display: flex;
  flex: 1 1 50%;
  justify-content: flex-end;
  color: #000000;
}
.CabContnt__cost-per-person .CabContnt__cost-per-person-body {
  max-width: 74px;
}

.CabContnt__cost {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 126.9230769231%;
  color: #353535;
  display: flex;
  flex: 1 1 50%;
  justify-content: flex-start;
}

.Cabin__btn-container {
  margin-top: 30px;
  max-width: 361px;
  background: #FFC614;
  padding: 5px 20px;
  transition: all 0.5s ease 0.3s;
  -webkit-transition: all 0.5s ease 0.3s;
  -moz-transition: all 0.5s ease 0.3s;
  -ms-transition: all 0.5s ease 0.3s;
  -o-transition: all 0.5s ease 0.3s;
}

.Cabin__btn {
  padding: 6px 104px;
  background: #FFC614;
  transition: all 0.5s ease 0.3s;
  -webkit-transition: all 0.5s ease 0.3s;
  -moz-transition: all 0.5s ease 0.3s;
  -ms-transition: all 0.5s ease 0.3s;
  -o-transition: all 0.5s ease 0.3s;
}

.Cabin__btn:hover {
  border: 1px solid transparent;
  border-image: linear-gradient(rgb(250, 244, 157), #FFC614);
  -moz-border-image: -moz-linear-gradient(left, rgb(250, 244, 157), #FFC614);
  -webkit-border-image: -webkit-linear-gradient(left, rgb(250, 244, 157), #FFC614);
  border-image-slice: 1;
}

.Cabin__link {
  background: #FFC614;
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  color: #353535;
}

.Cabin__footer {
  max-width: 460px;
  margin-top: 30px;
  opacity: 0;
  transition: all 1s ease 0s;
  -webkit-transition: all 1s ease 0s;
  -moz-transition: all 1s ease 0s;
  -ms-transition: all 1s ease 0s;
  -o-transition: all 1s ease 0s;
  transform: translateX(300px) rotate3d(1, 1, 1, 45deg);
  -webkit-transform: translateX(300px) rotate3d(1, 1, 1, 45deg);
  -moz-transform: translateX(300px) rotate3d(1, 1, 1, 45deg);
  -ms-transform: translateX(300px) rotate3d(1, 1, 1, 45deg);
  -o-transform: translateX(300px) rotate3d(1, 1, 1, 45deg);
}

.Cabin__footer.activated {
  opacity: 1;
  transform: translateX(0px) rotate3d(1, 1, 1, 0deg);
  -webkit-transform: translateX(0px) rotate3d(1, 1, 1, 0deg);
  -moz-transform: translateX(0px) rotate3d(1, 1, 1, 0deg);
  -ms-transform: translateX(0px) rotate3d(1, 1, 1, 0deg);
  -o-transform: translateX(0px) rotate3d(1, 1, 1, 0deg);
}

.Cabin__footerText {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}

@media (max-width: 1160px) {
  .Cabin__item {
    margin-right: 1px;
    flex-direction: column;
    display: flex;
    align-items: center;
  }

  .Cabin__item-body {
    display: flex;
    justify-content: center;
  }

  .CabContnt__body {
    margin-right: 30px;
  }

  .Cabin__item:nth-child(3) {
    margin-top: 40px;
  }
  .Cabin__item:nth-child(3) .Cabin__item-header {
    transform: translate(-110px, -333px);
    -webkit-transform: translate(-110px, -333px);
    -moz-transform: translate(-110px, -333px);
    -ms-transform: translate(-110px, -333px);
    -o-transform: translate(-110px, -333px);
  }

  .Cabin__footer {
    margin: 30px auto;
  }
}