.wrapper{max-width: 1440px;
margin: 0 auto;
overflow: hidden;
position: relative;
}
.header {
    position: relative;
    display: flex;
    justify-content: center;
}
.header__background {
    position: absolute;
    display: flex;
    justify-content: space-between;
    max-height: 800px;
    z-index: 1;
}
.backgr {
}
.backgr__big {
    position: relative;
}
.backgr__tower {
    height: 800px;
    width: 800px;
    flex: 1 1 auto;
    position: relative;
    background-image: url(../img/hugeTower.png);
    display: flex;
    flex-wrap: nowrap;
}
.backgr__towernative{
    height: 800px;
    width: 55%;
    position: relative;
    flex: 1 1 auto;
    overflow: hidden;
    .backgr__rightCycleStracture{
        position: relative;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        backdrop-filter: blur(6px);
        background-color: rgba(0, 97, 191, 0.2);
        transform: translate(300px,300px);
        -webkit-transform: translate(390px,659px);
        -moz-transform: translate(300px,300px);
        -ms-transform: translate(300px,300px);
        -o-transform: translate(300px,300px);
        .rightCycleStracture__firstChild{
            width: 80px;
            height: 80px;
            border-radius: 50%;
            position: absolute;
            z-index: 3;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            -webkit-transform: translate(-50, -50%);
            -moz-transform: translate(-50, -50%);
            -ms-transform: translate(-50, -50%);
            -o-transform: translate(-50, -50%);
            backdrop-filter: blur(-15px);
            background-image: url(../img/hugeTower.png);
            background-position: 56% 92%;
            .rightCycleStracture__secondChild{
            width: 50px;
            height: 50px;
            border-radius: 50%;
            position: absolute;
            z-index: 4;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            backdrop-filter: blur(6px);
        background-color: rgba(0, 97, 191, 0.2);
        .rightCycleStracture__thirdChild{
            width: 20px;
            height: 20px;
            border-radius: 50%;
            position: absolute;
            z-index: 5;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-image: url(../img/hugeTower.png);
            background-position: 58% 90%;
            .rightCycleStracture__fourth{
                width: 18px;
                height: 18px;
                border-radius: 50%;
                position: absolute;
                z-index: 5;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                backdrop-filter: blur(6px);
        background-color: rgba(0, 97, 191, 0.2);
            }
        }
            }
}
        }
}
/*https://russianblogs.com/article/17691680194/*/
.backgr__towerBlur{
    flex: 1 1 auto;
    height: 800px;
    width: 45%;
    position: relative;
    right: 0;
    top: 0;
    background-color: rgba(0, 97, 191, 0.2);
    backdrop-filter: blur(3px);
    overflow: hidden;
    .towerBlur__firstChild{
                width: 100px;
                height: 100px;
                border-radius: 50%;
                position: absolute;
                z-index: 2;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                background-image: url(../img/hugeTower.png);
                background-position: 60% 93%;
                transform: translate(100px,100px);
                -webkit-transform: translate(-230px, 259px);
                -moz-transform: translate(100px,100px);
                -ms-transform: translate(100px,100px);
                -o-transform: translate(100px,100px);
                .towerBlur__secondChild{
                    width: 80px;
                    height: 80px;
                    border-radius: 50%;
                    position: absolute;
                    z-index: 3;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    background-color: rgba(0, 97, 191, 0.2);
                    backdrop-filter: blur(6px);
                    .towerBlur__thirdChild{
                        width: 50px;
                        height: 50px;
                        border-radius: 50%;
                        position: absolute;
                        z-index: 4;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        background-image: url(../img/hugeTower.png);
                        background-position: 57% 91%;
                        .towerBlur__fourthChild{
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                    position: absolute;
                    z-index: 5;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    background-color: rgba(0, 97, 191, 0.2);
                    backdrop-filter: blur(6px);
                    .towerBlur__fivthChild{
                        width: 18px;
                        height: 18px;
                        border-radius: 50%;
                        position: absolute;
                        z-index: 5;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        background-image: url(../img/hugeTower.png);
                        background-position: 57% 91%;
                    }
                    }
                    
                }
}
    }}

.backgr__tiny {
    background-image: url(../img/tallPicture.png);
    width:200px;
}
.backgr__camel {
    max-width: 100%;
}
.backgr__bigBand {
    width: 338px;
    background-color: #0061BF;
    display: flex;
    justify-content: center;
    position: relative;
}
.bigBand__list {
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
    margin-bottom: 31px;
}
.bigBand__itemLink::before{
    content: "";
    display: block;
    border: 1px solid #F4F4F4;
    border-radius: 25px;
    width: 10px;
    height: 10px;
    margin-top: 5px;
    margin-right: 10px;
}
.bigBand__item {
    margin-top: 10px;
}
.bigBand__itemLink{
    display: flex;
    justify-content:flex-start;
    font-family: Source Sans Pro;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 20px;
color: #F4F4F4;
}
.backgr__tinyBand {
    width: 100px;
    background-color: #0061BF;
    position: relative;
    z-index: 4;
}

/*-------------------------------------------------upside-clatch------------------------*/

.upsideBar__facebook{
    width: 25px;
    height: 25px;
    margin-right: 27px;
}



.upsideBar__instagram{
    width: 25px;
    height: 25px;
}

.header__container {
    position: relative;
}
.container {
    width: 1230px;
    margin: 0 auto;
    padding: 0 15px;
}
.header__upsideBar {
}
.upsideBar {
}
.upsideBar__body {
    position: relative;
    z-index: 3;
    display: flex;
    margin-top: 50px;
    justify-content: flex-end;
}
.upsideBar__date {
font-family: Source Sans Pro;
font-style: normal;
font-weight: normal;
font-size: 22px;
line-height: 28px;
color: #F4F4F4;
margin-right: 177px;
}
.upsideBar__slogan {
font-family: Source Sans Pro;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 20px;
color: #F4F4F4;
margin-right: 120px;
}
.upsideBar__img {
}

.upsideBar__slogan {
}
.slogan {
}
.slogan__stracture {
    display: flex;
    transform: translateX(-10px);
    -webkit-transform: translateX(-10px);
    -moz-transform: translateX(-10px);
    -ms-transform: translateX(-10px);
    -o-transform: translateX(-10px);
}
.frstround{}
.slogan__round {
    border: 1px solid #F4F4F4;
    border-radius: 25px;
    width: 10px;
    height: 10px;
    margin-top: 5px;
    margin-right: 10px;
}
.scndround{ transform: translateX(-10px); 
    -webkit-transform: translateX(-10px); 
    -moz-transform: translateX(-10px); 
    -ms-transform: translateX(-10px);
     -o-transform: translateX(-10px);
}
.slogan__line {
    transform: translate(-10px,-4.5px);
    width: 154px;
    border-bottom: 1px solid   #F4F4F4;
    -webkit-transform: translate(-10px,-4.5px);
    -moz-transform: translate(-10px,-4.5px);
    -ms-transform: translate(-10px,-4.5px);
    -o-transform: translate(-10px,-4.5px);
}
.slogan__verticalLine{
    width: 101px;
    border-bottom: 1px solid #F4F4F4;
    transform: rotate(90deg) translate(45px,-26px);
    -webkit-transform: rotate(90deg) translate(45px,-26px);
    -moz-transform: rotate(90deg) translate(45px,-26px);
    -ms-transform: rotate(90deg) translate(45px,-26px);
    -o-transform: rotate(90deg) translate(45px,-26px);
    position: relative;
    z-index: 5;
}
.slogan__buttomCircle{
    position: relative;
    z-index: 5;
    border: 1px solid #F4F4F4;
    border-radius: 25px;
    width: 20px;
    height: 20px;
    transform: translate(100px);
    -webkit-transform: translate(40px,84.5px);
    -moz-transform: translate(100px);
    -ms-transform: translate(100px);
    -o-transform: translate(100px);
}     
.slogan__buttomLine{
    width: 17px;
    border-bottom: 1px solid #F4F4F4;
    transform: translate(60px,94.5px);
    -webkit-transform: translate(60px,94.5px);
    -moz-transform: translate(60px,94.5px);
    -ms-transform: translate(60px,94.5px);
    -o-transform: translate(60px,94.5px);
    position: relative;
    z-index: 5;
}
.slogan__blueSphere{
    position: relative;
    z-index: 2;
    width: 50px;
    height: 50px;
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(12px);
    border-radius:25px ;
    -webkit-border-radius:25px ;
    -moz-border-radius:25px ;
    -ms-border-radius:25px ;
    -o-border-radius:25px ;
    transform: translate(40px,55px);
    -webkit-transform: translate(25px, 50px);
    -moz-transform: translate(25px, 50px);
    -ms-transform: translate(40px,55px);
    -o-transform: translate(40px,55px);
}
.slogan__blueCircumference{
    position: relative;
    z-index: 2;
    width: 100px;
    height: 100px;
    border: 10px solid rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transform: translate(100px,100px);
    -webkit-transform: translate(0px, -25px);
    -moz-transform: translate(100px,100px);
    -ms-transform: translate(100px,100px);
    -o-transform: translate(100px,100px);
}
/*-------------------------------------------------center PArt------------------------*/

.header__centerPart {
}
.centerPart {
    margin-top: -175px;
    margin-left: 150px;
    display: flex;
    justify-content: space-around;
}
.centerPart__body {
    position: relative;
    z-index: 3;
    display: flex;
    flex-direction: column;
    max-width: 620px;
    margin-top: 141px;
    justify-content: center;
}
.centerPart__caption {
    font-family: Playfair Display;
font-style: normal;
font-weight: bold;
font-size: 45px;
line-height: 60px;
color: #F4F4F4;
max-width: 525px;
text-align: left;
}
.centerPart__discription {
    font-family: Playfair Display;
font-style: normal;
font-weight: normal;
font-size: 26px;
line-height: 35px;
color: #F4F4F4;
margin-top: 25px;
max-width: 300px;
}
.centerCost{max-width: 175px;}
.centerPart__btn {
    margin-top: 18px;
    font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 22px;
line-height: 26px;
color: #F4F4F4;
background: #FFC614;
box-shadow: -10px 10px 30px rgba(53, 53, 53, 0.15);
max-width: 230px;
max-height: 50px;
padding: 12px 66px;
}
/*-------------------------------------------------left  header PArt------------------------*/
.header__leftCards {
    position: absolute;
    z-index: 3;
    margin-top: -608px;
}
.leftCards {
}
.leftCards__body {
}
.leftCards__item {
    width: 160px;
    height: 110px;
    margin-bottom: 55px;
    background: linear-gradient(116.95deg, rgba(255, 255, 255, 0.2) 1.86%, rgba(255, 255, 255, 0) 101.53%);
    border: 1px solid rgba(255, 255, 255, 0.15);
    box-sizing: border-box;
    backdrop-filter: blur(4px);
    border-radius: 5px;
    display: flex;
    justify-content: flex-end;
}

.leftCards__item-body {
margin-top: 15px;
background: #0061BF;
box-shadow: -10px 10px 20px rgba(0, 97, 191, 0.5);
max-width: 130px;
height: 80px;
}
.leftCards__item-content{
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #F4F4F4;
    padding: 20px 8px;
    box-sizing: border-box;
}
.leftCards__structure{

}
.leftCards__frst {
    position: absolute;
    width: 165px;
    border-bottom: 1px solid white;
    transform: translate(0px,55px);
    -webkit-transform: translate(0px,55px);
    -moz-transform: translate(0px,55px);
    -ms-transform: translate(0px,55px);
    -o-transform: translate(0px,55px);
}
.leftCards__scnd {
    position: absolute;
    width: 158px;
    border-bottom: 1px solid white;
    transform: rotate(90deg) translate(133.5px, -85.5px);
    -webkit-transform: rotate(90deg) translate(133.5px, -85.5px);
    -moz-transform: rotate(90deg) translate(133.5px, -85.5px);
    -ms-transform: rotate(90deg) translate(133.5px, -85.5px);
    -o-transform: rotate(90deg) translate(133.5px, -85.5px);
}
.leftCards__thrd {
    position: absolute;
    width: 25px;
    border-bottom: 1px solid white;
    transform: translate(165px, 212px);
    -webkit-transform: translate(165px, 212px);
    -moz-transform: translate(165px, 212px);
    -ms-transform: translate(165px, 212px);
    -o-transform: translate(165px, 212px);
}

.leftCards__frsth{
    position: absolute;
    width: 25px;
    border: 1px solid white;
    height: 25px;
    border-radius: 50%;
    transform: translate(190px, 200px);
}

.stractureTwo{
    .leftCards__frst {
        width: 155px
    }
    .leftCards__scnd {
        width: 43px;
        transform: rotate(90deg) translate(76px, -133px);
        -webkit-transform: rotate(90deg) translate(76px, -133px);
        -moz-transform: rotate(90deg) translate(76px, -133px);
        -ms-transform: rotate(90deg) translate(76px, -133px);
        -o-transform: rotate(90deg) translate(76px, -133px);
}
    .leftCards__thrd {
        transform:translate(154px, 98px);
        width: 34px;
        -webkit-transform:translate(154px, 98px);
        -moz-transform:translate(154px, 98px);
        -ms-transform:translate(154px, 98px);
        -o-transform:translate(154px, 98px);
}
    .leftCards__frsth {
        transform:translate(188px, 86px);
        -webkit-transform: translate(188px, 86px);
        -moz-transform: translate(190px, 100px);
        -ms-transform: translate(190px, 100px);
        -o-transform: translate(190px, 100px);
}
}
.stractureThree{
    .leftCards__scnd {
        width: 73px;
        transform: rotate(90deg) translate(92px, -128px);
        -webkit-transform: rotate(90deg) translate(92px, -128px);
        -moz-transform: rotate(90deg) translate(92px, -128px);
        -ms-transform: rotate(90deg) translate(92px, -128px);
        -o-transform: rotate(90deg) translate(92px, -128px);
}
    .leftCards__thrd {
        transform:translate(165px, 128px);
        width: 24px;
        -webkit-transform:translate(165px, 128px);
        -moz-transform:translate(165px, 128px);
        -ms-transform:translate(165px, 128px);
        -o-transform:translate(165px, 128px);
}
    .leftCards__frsth {
        transform:translate(189px, 116px);
        -webkit-transform:translate(189px, 116px);
        -moz-transform:translate(189px, 116px);
        -ms-transform:translate(189px, 116px);
        -o-transform:translate(189px, 116px);
}
}


/*-------------------------------------------------main firstblock------------------------*/
/*-------------------------------------------------Route------------------------*/
.main {margin-top: 200px;
}
.main__route {
}
.Route {
}
.Route__container {
}
.container {
}
.Route__body {
}
.Route__header {
}
.Route__header-body {
    display: flex;
    flex-wrap: wrap;
    align-items:center ;
}

.Route__cirleStructure{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background-color: #0061BF;
  position: relative;
  z-index: 2;
  .Route__cirleStructure-firstChild{
    width: 26px;
    height: 26px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: #F4F4F4;
    position: relative;
    z-index: 3;
    left: 50%;
    top:50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    .Route__cirleStructure-secondChild{
        width: 16px;
        height: 16px;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        background-color: #0061BF;
        position: relative;
        z-index: 4;
        left: 50%;
        top:50%;
        transform: translate(-50%,-50%);
        -webkit-transform: translate(-50%,-50%);
        -moz-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
        -o-transform: translate(-50%,-50%);
    }
}
}
.Route__caption {
font-family: Playfair Display;
font-style: normal;
font-weight: 900;
font-size: 36px;
line-height: 48px;
color: #0061BF;
display: flex;
margin-left: 16px;
}

.Route__subCaption {
font-family: Source Sans Pro;
font-style: normal;
font-weight: normal;
font-size: 22px;
line-height: 28px;
color: #353535;
flex: 1 1 100%;
margin-left: 44px;
}


/*-------------------------------------------------Map--------------------------------------*/


.main__map {
    margin-top: 50px;
}
.Map {
}
.map__container {
}
.container {
}
.map__body {
    display: flex;
}
.map__image {
}
.map__right {
    margin-left: 40px;
}
.map__right-body {
}
.map__right-caption {
font-family: Playfair Display;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 21px;
color: #353535;
}
.map__right-stracture {
    margin-top: 34px;
}
.MapStructure {
}
.MapStructure__body {
    display: flex;
    flex-wrap: wrap;
}

.MapStructure__pattern {
    position: absolute;
    z-index: 2;
    width: 46px;
    height: 46px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: #0061BF;
    transform: translate(200px ,200px);
    -webkit-transform: translate(207px, 27px);
    -moz-transform: translate(200px ,200px);
    -ms-transform: translate(200px ,200px);
    -o-transform: translate(200px ,200px);
}
.MapStructure__pattern-firstChild {
    position: absolute;
    z-index: 3;
    width: 38.8px;
    height: 38.8px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: #FFF;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
}
.MapStructure__pattern-secondChild {
    position: absolute;
    z-index: 4;
    width: 23px;
    height: 23px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: #0061BF;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
}
.MapStructure__pattern-thirdChild {
    position: absolute;
    z-index: 5;
    width: 9.2px;
    height: 9.2px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: #fff;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
}
.MapStructure__pattern-fourthChild {
    position: absolute;
    z-index: 6;
    width: 7.2px;
    height: 7.2px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: #0061BF;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
}
.MapStructure__item {
    position: relative;
}
.ItemStructure1{
    flex: 1 1 100%;
    margin-bottom: 42px;
}
.ItemStructure3{
    .MapStructure__pattern{
        transform: translate(300px,300px);
        -webkit-transform:  translate(179px, -23px);
        -moz-transform: translate(300px,300px);
        -ms-transform: translate(300px,300px);
        -o-transform: translate(300px,300px);
}
.ItemStructure__container{
    overflow:hidden;
    .ItemStructure__pattern{
    transform: translate(300px,300px);
    -webkit-transform: translate(179px, -83px);
    -moz-transform: translate(300px,300px);
    -ms-transform: translate(300px,300px);
    -o-transform: translate(300px,300px);
}}

}
.ItemStructure2{margin-right: 98px;}

.ItemStructure__container {
    background-color: #0061BF;
    width: 230px;
    height: 100px;
    position: relative;
    overflow: hidden;
}
.ItemStructure__body{font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    padding-top: 40px;
    padding-left: 16px;
}
.ItemStructure__pattern {
    position: absolute;
    z-index: 2;
    width: 46px;
    height: 46px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: #F4F4F4;
    transform: translate(200px ,200px);
    -webkit-transform: translate(207px, -33px);
    -moz-transform: translate(200px ,200px);
    -ms-transform: translate(200px ,200px);
    -o-transform: translate(200px ,200px);
}
.ItemStructure__pattern-firstChild {
    position: absolute;
    z-index: 3;
    width: 38.8px;
    height: 38.8px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: #0061BF;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
}
.ItemStructure__pattern-secondChild {
    position: absolute;
    z-index: 4;
    width: 23px;
    height: 23px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: #fff;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
}
.ItemStructure__pattern-thirdChild {
    position: absolute;
    z-index: 5;
    width: 9.2px;
    height: 9.2px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: #0061BF;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
}
.ItemStructure__pattern-fourthChild {
    position: absolute;
    z-index: 6;
    width: 7.2px;
    height: 7.2px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: #FFF;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
}


/*--------------Map (tracery consist of lines and circles on right side of block)--------------------------------------*/

.map__lines {
    position: absolute;
}
.map__littlePart {
}
.map__littlePartFirstChild {
    width: 98px;
    border-bottom:1px solid #0061BF;
    position: absolute;
    z-index: 3;
    transform: translate(100px,100px);
    -webkit-transform: translate(853px, -195px);
    -moz-transform: translate(100px,100px);
    -ms-transform: translate(100px,100px);
    -o-transform: translate(100px,100px);
}
.map__littlePartSecondChild {
    width: 33px;
    border-bottom:1px solid #0061BF;
    position: absolute;
    z-index: 3;
    transform: rotate(90deg) translate(100px,100px);
    -webkit-transform: rotate(90deg) translate(-211px, -934px);
    -moz-transform: rotate(90deg) translate(100px,100px);
    -ms-transform: rotate(90deg) translate(100px,100px);
    -o-transform: rotate(90deg) translate(100px,100px);
}
.map__littlePartThirdChild {
   width: 44px;
   border-bottom:1px solid #0061BF;
   position: absolute;
   z-index: 3;
   transform: translate(1px,1px);
   -webkit-transform: translate(950px, -227px);
   -moz-transform: translate(1px,1px);
   -ms-transform: translate(1px,1px);
   -o-transform: translate(1px,1px);
}
.map__littlePartFoursChild{
    width: 20px;
    height: 20px;
    position: absolute;
    z-index: 3;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border: 1px solid  #0061BF;
    transform: translate(900px,-200px);
    -webkit-transform: translate(993px, -236px);
    -moz-transform: translate(900px,-200px);
    -ms-transform: translate(900px,-200px);
    -o-transform: translate(900px,-200px);
}


.map__bigPart {
}
.map__bigPartFirstChild {
    width: 26px;
    border-bottom:1px solid #0061BF;
    position: absolute;
    z-index: 3;
    transform: translate(100px,100px);
    -webkit-transform: translate(852px, -53px);
    -moz-transform: translate(100px,100px);
    -ms-transform: translate(100px,100px);
    -o-transform: translate(100px,100px);
}
.map__bigPartSecondChild {
    width: 92px;
    border-bottom:1px solid #0061BF;
    position: absolute;
    z-index: 3;
    transform: rotate(90deg) translate(100px,100px);
    -webkit-transform: rotate(90deg) translate(-98.5px, -832px);
    -moz-transform: rotate(90deg) translate(100px,100px);
    -ms-transform: rotate(90deg) translate(100px,100px);
    -o-transform: rotate(90deg) translate(100px,100px);
}
.map__bigPartThirdChild {
    width: 251px;
    border-bottom:1px solid #0061BF;
    position: absolute;
    z-index: 3;
    transform: translate(100px,100px);
    -webkit-transform: translate(878px, -144px);
    -moz-transform: translate(100px,100px);
    -ms-transform: translate(100px,100px);
    -o-transform: translate(100px,100px);
}
.map__bigPartFoursChild {
    width: 21px;
    border-bottom:1px solid #0061BF;
    position: absolute;
    z-index: 3;
    transform: rotate(90deg) translate(100px,100px);
    -webkit-transform: rotate(90deg) translate(-134px, -1119px);
    -moz-transform: rotate(90deg) translate(100px,100px);
    -ms-transform: rotate(90deg) translate(100px,100px);
    -o-transform: rotate(90deg) translate(100px,100px);
}
.map__bigPartFivthChild {
    width: 44px;
    border-bottom:1px solid #0061BF;
    position: absolute;
    z-index: 3;
    transform: rotate(90deg) translate(100px,100px);
    -webkit-transform: rotate(90deg) translate(-166px, -979px);
    -moz-transform: rotate(90deg) translate(100px,100px);
    -ms-transform: rotate(90deg) translate(100px,100px);
    -o-transform: rotate(90deg) translate(100px,100px);
}
.map__bigPartSixthChild {
    width: 20px;
    height: 20px;
    position: absolute;
    z-index: 3;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border: 1px solid  #0061BF;
    transform: translate(900px,-200px);
    -webkit-transform:translate(991px, -207px);
    -moz-transform: translate(900px,-200px);
    -ms-transform: translate(900px,-200px);
    -o-transform: translate(900px,-200px);
}


/*-----------------------(another one circles tracery placed on right side beetwin header and route)--------------------------------*/


.HugeRoundStructure {
    position: absolute;
    z-index: 3;
    width: 397px;
    height: 397px;
    border-radius: 50%;
    background: rgba(0, 97, 191, 0.1);
backdrop-filter: blur(1px);
}
.HugeRoundStructureFirst {
    position: relative;
    z-index: 4;
    width: 317.6px;
    height: 317.6px;
    border-radius: 50%;
    position: absolute;
    z-index: 3;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50, -50%);
    -moz-transform: translate(-50, -50%);
    -ms-transform: translate(-50, -50%);
    -o-transform: translate(-50, -50%);
    background: rgba(0, 97, 191, 0.2);
    backdrop-filter: blur(1px);
}
.HugeRoundStructureSecond {
    position: relative;
    z-index: 6;
    width: 198.5px;
    height: 198.5px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(1px);
}
.HugeRoundStructureThird {
    position: relative;
    z-index: 8;
    width: 79.4px;
    height: 79.4px;
    border-radius: 50%;
    position: absolute;
    z-index: 5;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #0061BF;
    opacity: 0.2;
}
.HugeRoundStructureFours {
    position: relative;
    z-index: 9;
    width: 77px;
    height: 77px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFF;
}

.rightPattern {
    transform: translate(300px,300px);
    -webkit-transform:translate(1229px, 628px);
    -moz-transform: translate(300px,300px);
    -ms-transform: translate(300px,300px);
    -o-transform: translate(300px,300px);
}
.rightPattern__firstChild {

    background-position: 56% 92%;
}
.backgr__rightPatternSecondChild{
          
            transform:translate(300px,300px) ;
            -webkit-transform:translate(611px, 326px);
            -moz-transform:translate(300px,300px) ;
            -ms-transform:translate(300px,300px) ;
            -o-transform:translate(300px,300px) ;
}
.backgr__rightPatternthirdChild {
   
}
.backgr__rightPatternfourth {

}


/*------------------------------------------(Table left List )--------------------------------------------*/

.main__table {
    margin-top: 54px;
}
.Table {
}
.Table__container {
}
.container {
}
.Table__body {
    display: flex;
}
.Table__leftList {
    flex: 1 1 19.25%;
}
.leftList {
}
.leftList__body {
    border: 1px solid #0061BF;
    height: 600px;
}

.leftList__item {
}
.leftList__item-body {
    display: flex;
    padding: 20px 0px;
    margin: 0px 20px;
    width: 210px;
    
    position: relative;
}

.leftList__item:not(:last-child){
    border-bottom: 1px solid #0061BF;
}

.leftList__item-body:not(:last-child){
    
}
.leftList__firstInscription {
font-family: Source Sans Pro;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 20px;
color: #353535;
margin-right: 18px;
white-space: nowrap;
}
.leftList__secondInscription {
font-family: Source Sans Pro;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 18px;
color: #353535;
margin-right: 76px;
white-space: nowrap;
}
.leftList__link {
    position: absolute;
    right: 0;
}
.leftList__arrow {
    cursor: pointer;
}
.leftList__indicated{
    .leftList__arrow path{
        fill: red;
    }
}

/*------------------------------------------(part of the Table where explanation day schedule is )--------------------------------------------*/
.Table__explanation {
}
.Explanation {
}
.Explanation__body {
    
}
.Explanation__item {
    
}
.Explanation__item-body {
    display: flex;
}
.Explanation__textPart {
    border-top:1px solid #0061BF ;
    border-left:1px solid #0061BF;
    border-bottom:1px solid #0061BF ;
    height: 600px;
}
.TextPart {
}
.TextPart__body {
    padding: 16px 40px 0px  50px;
}
.TextPart__caption {
font-family: Source Sans Pro;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 30px;
color: #353535;
}
.TextPart__date {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #353535;
    margin-top: 10px;
}
.TextPart__time {
font-family: Source Sans Pro;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 20px;
color: #353535;
margin-top: 5px;
}
.TextPart__paragraph-body {
    margin-top: 20px;
}
.TextPart__paragraph:nth-child(2){margin-top: 20px;}
.TextPart__paragraph {
font-family: Source Sans Pro;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 20px;
color: #353535;
}
.TextPart__bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 69px;
}
.TextPart__left {
font-family: Source Sans Pro;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 20px;
color: #000000;
max-width: 283px;
}
.TextPart__btn-body{
}
.TextPart__btn {
font-family: Source Sans Pro;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 20px;
color: #F4F4F4;
background-color:  #0061BF;
padding: 10px 35px  10px 40px;
}
.Explanation__imgColumn {
}
.Explanation__img {
}
.explanation__disable{display: none;}


/*------------------------------------------(pdf )--------------------------------------------*/


.main__pdf {
    margin-top: 49px;
}
.Pdf {
}
.Pdf__container {
}
.container {
}
.Pdf__body {display: flex;
    justify-content: space-between;
}
.Pdf__textcontainer {
    
}
.Pdf__textone {
    font-family: Source Sans Pro;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 30px;
color: #353535;
}
.Pdf__texttwo {
    font-family: Source Sans Pro;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 20px;

/* Текст темний */

color: #353535;

}
.Pdf__input {
    border: 1px solid #0061BF;
box-sizing: border-box;
flex: 1 1 auto;
max-width: 360px;
}
.Pdf__input::placeholder{
    padding: 18px 37px;
    font-family: Source Sans Pro;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 25px;
color: #353535;
opacity: 0.6;
}
.Pdf__link {
}
.Pdf__btn {
    background: rgba(0, 97, 191, 0.6);
    font-family: Source Sans Pro;
font-style: normal;
font-weight: bold;
font-size: 22px;
line-height: 28px;
color: #F4F4F4;
padding: 16px 66px;
}

/*------------------------------------------(benefits header )--------------------------------------------*/


.main__benefits {
    margin-top: 130px;
}
.Benefits {
}
.Benefits__container {
}
.container {
}
.Benefits__body {
}
.Benefits__header {
}
.Benefits__header-body {
    display: flex;
    flex-wrap: wrap;
    align-items:center ;
}
.Benefits__cirleStructure {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        background-color: #0061BF;
        position: relative;
        z-index: 2;
        .Benefits__cirleStructure-firstChild {
          width: 26px;
          height: 26px;
          border-radius: 50%;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          -ms-border-radius: 50%;
          -o-border-radius: 50%;
          background-color: #F4F4F4;
          position: relative;
          z-index: 3;
          left: 50%;
          top:50%;
          transform: translate(-50%,-50%);
          -webkit-transform: translate(-50%,-50%);
          -moz-transform: translate(-50%,-50%);
          -ms-transform: translate(-50%,-50%);
          -o-transform: translate(-50%,-50%);
          .Benefits__cirleStructure-secondChild{
              width: 16px;
              height: 16px;
              border-radius: 50%;
              -webkit-border-radius: 50%;
              -moz-border-radius: 50%;
              -ms-border-radius: 50%;
              -o-border-radius: 50%;
              background-color: #0061BF;
              position: relative;
              z-index: 4;
              left: 50%;
              top:50%;
              transform: translate(-50%,-50%);
              -webkit-transform: translate(-50%,-50%);
              -moz-transform: translate(-50%,-50%);
              -ms-transform: translate(-50%,-50%);
              -o-transform: translate(-50%,-50%);
          }
      }
      }
.Benefits__caption {
    font-family: Playfair Display;
font-style: normal;
font-weight: 900;
font-size: 36px;
line-height: 48px;
color: #0061BF;
display: flex;
margin-left: 16px;
}
.Benefits__subCaption {
    font-family: Source Sans Pro;
font-style: normal;
font-weight: normal;
font-size: 22px;
line-height: 28px;
color: #353535;
flex: 1 1 100%;
margin-left: 50px;
}



/*------------------------------------------(benefits main part where four rectangle is )--------------------------------------------*/
.Benefits__main {
    margin-top: 73px;
    position: relative;
    z-index: 13;
}
.Benefits__main-body {
    display: flex;
    justify-content: space-between;
}
.Benefits__item {
}
.Benefits__pattern {
    position: absolute;
    z-index: 2;
    width: 46px;
    height: 46px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: #0061BF;
    transform: translate(200px ,200px);
    -webkit-transform: translate(21px, -23px);
    -moz-transform: translate(200px ,200px);
    -ms-transform: translate(200px ,200px);
    -o-transform: translate(200px ,200px);
}
.Benefits__pattern-firstChild {
    position: absolute;
    z-index: 3;
    width: 38.8px;
    height: 38.8px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: #FFF;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    
}
.Benefits__pattern-secondChild {
    position: absolute;
    z-index: 4;
    width: 23px;
    height: 23px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: #0061BF;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
}
.Benefits__pattern-thirdChild {
    position: absolute;
    z-index: 5;
    width: 9.2px;
    height: 9.2px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: #fff;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
}
.Benefits__pattern-fourthChild {
    position: absolute;
    z-index: 6;
    width: 7.2px;
    height: 7.2px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: #0061BF;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
}
.Benefits__itemContainer {
    background-color: #0061BF;
    max-width: 260px;
    position: relative;
    overflow: hidden;
}
.Benefits__item-body {
    padding: 64px 24px 41px 20px;
}
.Benefits__Text {
    font-family: 'Source Sans Pro';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;
text-transform: uppercase;
color: #F4F4F4;
margin-bottom: 10px;
}
.BeTe2{text-transform:none;}
.Benefits__Indoorpattern {
    position: absolute;
    z-index: 2;
    width: 46px;
    height: 46px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: #F4F4F4;
    transform: translate(30px,30px);
    -webkit-transform:translate(21px, -248px);
    -moz-transform: translate(30px,30px);
    -ms-transform: translate(30px,30px);
    -o-transform: translate(30px,30px);
}
.Benefits__Indoorpattern-firstChild {
    position: absolute;
    z-index: 3;
    width: 38.8px;
    height: 38.8px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: #0061BF;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
}
.Benefits__Indoorpattern-secondChild {
    position: absolute;
    z-index: 4;
    width: 23px;
    height: 23px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: #fff;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
}
.Benefits__Indoorpattern-thirdChild {
    position: absolute;
    z-index: 5;
    width: 9.2px;
    height: 9.2px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: #0061BF;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
}
.Benefits__Indoorpattern-fourthChild {
    position: absolute;
    z-index: 6;
    width: 7.2px;
    height: 7.2px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: #FFF;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%); 
}

.Benefits__rightSidePattern {
}
.rightSidePattern {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.rightSidePattern__firstStick {
    height: 30px;
    width: 1px;
    background-color: #0061BF;
    margin-left: 7px;
    margin-bottom: 10px;
}
.rightSidePattern__round {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border: 1px solid #0061BF;
}
.rightSidePattern__secondStick {
    height: 30px;
    width: 1px;
    background-color: #0061BF;
    margin-left: 7px;
    margin-top: 10px;
}

/*------------------------------------------(benefits hugeRoundPattern )--------------------------------------------*/


.Benefits__patterns {
}
.BenePatterns {
}
/*------------------------------------------(benefits hugeRoundPattern first one )--------------------------------------------*/
.BenePatterns__rightPattern {
    transform: translate(300px,300px);
    -webkit-transform: translate(1050px, -450px);
    -moz-transform: translate(300px,300px);
    -ms-transform: translate(300px,300px);
    -o-transform: translate(300px,300px);
}

.BenePatterns__firstChild {
}

.BenePatterns__SecondChild {
    background-color: rgb(255, 255, 255);
}

.BenePatterns__thirdChild {background-color: #0061BF;
}

.BenePatterns__fourth {
}
/*------------------------------------------(benefits hugeRoundPattern second one )--------------------------------------------*/
.BenePatterns__rightPattern2 {
    transform: translate(-300px,-300px);
    -webkit-transform: translate(-300px,-243px);
    -moz-transform: translate(-300px,-300px);
    -ms-transform: translate(-300px,-300px);
    -o-transform: translate(-300px,-300px);
}
.BenePatterns__firstChild2 {
}
.BenePatterns__SecondChild2 {
    background-color: #FFF;
}
.BenePatterns__thirdChild2 {
}
.BenePatterns__fourth2 {
}



